@using HelpMe.WebUI.HtmlHelpers;
@model HelpMe.WebUI.Models.EventListViewModel

@{

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AcceptedEventsForm</title>
</head>
<body>
    <div>
        @foreach (var e in Model.Events)
        {
            <div class="well">

                <div class="row">
                    <div class="col-lg-2">
                        @if (e.ImageData != null)
                {
                            <div class="pull-left" style="margin-right: 10px">
                                <img class="img-thumbnail" width="75" height="75"
                                     src="@Url.Action("GetImageForEvent", "UserHomePanel",
                new { @e.EventID })" />
                            </div>
                        }
                    </div>
                    <div class="col-lg-7">
                        <h3><strong>@e.Title</strong></h3>
                        <div>
                            <span class="pull-left"> @e.Description</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <span class="pull-right">@e.Date</span>
                        <span class="pull-right">@e.Place</span>
                    </div>


                </div>
                @if ( DateTime.Compare(e.Date, DateTime.Now) >= 0 )
                {
                <div class="row">
                    <div class="btn btn-success disabled pull-right col-lg-6">
                        <label>@e.Contact</label>
                    </div>
                    <div class="btn btn-info pull-left col-lg-6">
                        @Html.ActionLink("View profile", "ProfileDescription", "Profile", new { userID = e.CreatorID }, null);
                    </div>
                </div>
                }
                else
                {
                    <div class="row">
                        <div class="btn btn-success pull-right col-lg-6">
                            @Html.ActionLink("Write review", "WriteReviewHelper", "Review", new { reviewerID = e.HelperID, revieweeID = e.CreatorID, eventID = e.EventID }, null);
                        </div>
                        <div class="btn btn-info pull-left col-lg-6">
                            @Html.ActionLink("View profile", "ProfileDescription", "Profile", new { userID = e.CreatorID }, null);
                        </div>
                    </div>
                }

            </div>
        }

        <div class="btn-group pull-right">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("AcceptedEventsForm", new { page = x }))
        </div>
    </div>

   
</body>
</html>
