@using HelpMe.WebUI.HtmlHelpers;
@model HelpMe.WebUI.Models.EventListViewModel

@{

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AcceptedEventsForm</title>
</head>
<body>
    <div>
        @foreach (var e in Model.Events)
        {
            <div class="well">
                <h3>
                    <strong>@e.Title</strong>
                    <span class="pull-right">@e.Date</span>
                </h3>
                <div class="btn pull-right">
                    @Html.ActionLink("Write review", "AcceptEvent", "Event", new { eventID = e.EventID }, null);
                </div>
                <span class="lead"> @e.Description</span>

            </div>
        }

        <div class="btn-group pull-right">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("AcceptedEventsForm", new { page = x }))
        </div>
    </div>

    </div>
</body>
</html>
