@using HelpMe.WebUI.HtmlHelpers;
@using HelpMe.WebUI.Models
@model EventListViewModel

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserHomePanelForm</title>
</head>
<body>
    <div> 
       
@foreach (var e in Model.Events)
{
    
    <div class="well">

        <div class="row">
            <div class="col-lg-2">
                @if (e.ImageData != null)
                {
                    <div class="pull-left" style="margin-right: 10px">
                        <img class="img-thumbnail" width="75" height="75"
                             src="@Url.Action("GetImage", "UserHomePanel",
                new { @e.EventID })" />
                    </div>
                }
            </div>
            <div class="col-lg-7">
                <h3><strong>@e.Title</strong></h3>
                <div>
                        <span class="pull-left"> @e.Description</span>
                </div>
            </div>
            <div class="col-lg-3">
                <span class="pull-right">@e.Date</span>
                <span class="pull-right">@e.Place</span>
            </div>

           
        </div>
        <div class="row">
            <div class="btn btn-success pull-right col-lg-6">
                @Html.ActionLink("Help", "AcceptEvent", "Event", new { eventID = e.EventID }, null);
            </div>
            <div class="btn btn-info pull-right col-lg-6">
                @Html.ActionLink("View profile", "AcceptEvent", "Event", new { eventID = e.EventID }, null);
            </div>


        </div>

        </div>
        }
       
        <div class="btn-group pull-right">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("UserHomePanelForm", new { page = x, category = Model.CurrentCategory, city = Model.CurrentCity }))
        </div>
    </div>
</body>
</html>
