@using HelpMe.WebUI.HtmlHelpers;
@using HelpMe.WebUI.Models
@model EventListViewModel

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserHomePanelForm</title>
</head>
<body>
    <div> 
        @*<h1>Jestem</h1>
        <h3>@Model.Name</h3>
        @Model.Surname
        @Model.Country
        <h4>@Model.Age</h4>*@

@foreach (var e in Model.Events)
{
    <div class="well">
        <h3>
            <strong>@e.Title</strong>
            <span class="pull-right">@e.Date</span>
        </h3>
            <div class="btn btn-default pull-right">
                @Html.ActionLink("EventAcctepted", "AcceptEvent", "Event", new { eventID = e.EventID }, null);
            </div>
        <span class="lead"> @e.Description</span>

        </div>
}

        <div class="btn-group pull-right">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("UserHomePanelForm", new { page = x, category = Model.CurrentCategory }))
        </div>
    </div>
</body>
</html>
