@using HelpMe.WebUI.HtmlHelpers;
@model HelpMe.WebUI.Models.EventListViewModel

@{
 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YourEventsForm</title>
</head>
<body>
    <div>
        @foreach (var e in Model.Events)
        {
         
            <div class="well">    
                @if (e.ImageData != null)
                {
                <div class="pull-left" style="margin-right: 10px">
                    <img class="img-thumbnail" width="75" height="75"
                         src="@Url.Action("GetImage", "UserHomePanel",
                new { @e.EventID })" />
                </div>
                }
                <h3>
                    <strong>@e.Title</strong>
                    <span class="pull-right">@e.Date</span>
                </h3>
                <div class="btn btn-default pull-right">
                    @Html.ActionLink("Write review", "AcceptEvent", "Event", new { eventID = e.EventID }, null);
                </div>
                <span class="lead"> @e.Description</span>

            </div>
        }


        <div class="btn-group pull-right">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("YourEventsForm", new { page = x}))
        </div>
    </div>

    </div>
</body>
</html>
