<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("UserHomePanelForm", "UserHomePanel")">HelpMe</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("UserHomePanelForm", "UserHomePanel")">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Events
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("AddEventForm", "UserHomePanel")">Add event</a></li>
                        <li><a href="@Url.Action("YourEventsForm", "UserHomePanel")">Created events</a></li>
                        <li><a href="@Url.Action("AcceptedEventsForm", "UserHomePanel")">Acctepted events</a></li>
                    </ul>
                </li>
                @*<li><a href="@Url.Action("AddEventForm", "UserHomePanel")">Add event</a></li>
                <li><a href="@Url.Action("YourEventsForm", "UserHomePanel")">Created events</a></li>
                <li><a href="@Url.Action("AcceptedEventsForm", "UserHomePanel")">Acctepted events</a></li>*@
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("UserProfile", "Profile")"><span class="glyphicon glyphicon-user"></span>User data</a></li>
                <li><a href="@Url.Action("LoginForm", "Login")"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
            </ul>
        </div>
    </nav>
        <div class="row panel">
            <div id="categories" class="col-xs-3">
               @Html.Action("LeftBar", "Navigation")
            </div>
            <div class="col-xs-8">
                @RenderBody()
            </div>
        </div>
</body>
</html>