@model HelpMe.WebUI.Models.ReviewFormViewModel

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WriteReviewForm</title>
</head>
<body>
    <div class="well-lg"> 
       @using (@Html.BeginForm())
       {
           @*Model.ReviewerID = ViewBag.ReviewerID;
           @Html.HiddenFor(m => m.ReviewerID)*@
           @*Model.RevieweeID = ViewBag.RevieweeID;
           @Html.HiddenFor(m => m.RevieweeID)*@
           Model.IsCreator = ViewBag.Creator;
           @Html.HiddenFor(m => m.IsCreator)
           Model.ReviewerName = ViewBag.ReviewerName;
           @Html.HiddenFor(m => m.ReviewerName)
           @*Model.EventID = ViewBag.EventID;
           @Html.HiddenFor(m => m.EventID)*@
            @*<div class="row col-lg-12">
                @if (Model.Reviewee.ImageData != null)
                {
                    <div class="pull-left" style="margin-right: 10px">
                        <img class="img-thumbnail" width="125" height="100"
                             src="@Url.Action("GetImageForProfile", "UserHomePanel",
  new { Model.Reviewee.UserID })" />
                    </div>
                }
            </div>*@
            <div class="form-group">
                <label for="comment">Write review for @Model.Reviewee.Name:</label>
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = 5 })
                <div class="form-group">
                    <label>Recommendation:</label>
                    @Html.TextBoxFor(m => m.Recommendation, new { @class = "form-control" })
                </div>
            </div>

            

            <div class="row">
                
                    <div class="btn btn-danger col-lg-6 " >
                       @Html.ActionLink("Cancel", null, null, null, new { href = Request.UrlReferrer, @style = "color:#ffffff;" })
                    </div>
                <div class="col-lg-6 ">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>

                
            </div>

       }
        </div>

</body>
</html>
