@model HelpMe.WebUI.Models.ProfileDescriptionViewModel

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserProfile</title>
</head>
<body>
    <div class="well">
        <div class="row" style="padding-left:15px">
            <div class="col-lg-2">
                @if (Model.User.ImageData != null)
                {
                    <div class="pull-left" style="margin-right: 10px">
                        <img class="img-thumbnail" width="125" height="150"
                             src="@Url.Action("GetImageForProfile", "UserHomePanel",
  new { Model.User.UserID })" />
                    </div>
                }
            </div>
            <div class="col-lg-2 ">
                <h3><strong>@Model.User.Name @Model.User.Surname</strong></h3>
                <span class="">@Model.User.City, @Model.User.Country</span>
            </div>
            <div class="btn btn-danger col-lg-3" style="margin-top: 27px;">
                @Html.ActionLink("Edit", "EditProfile", "Profile", new { userID = Model.User.UserID }, new { @style = "color:#ffffff;" })
            </div>
            


        </div>

        <div class="row" style="padding-left: 15px; padding-top: 15px; padding-right: 30px">
            <div class="col-lg-12">
                <label>About me :</label>
                <span>@Model.User.AboutMe</span>
            </div>
        </div>

        @*<div class="row" style="padding-left:15px; padding-top: 15px">
                <div class="btn btn-default col-lg-11">
                    @Html.ActionLink("Edit", "EditProfile", "Profile", new { userID = Model.User.UserID }, new { @style = "color:#ffffff;" })
                </div>
        </div>*@


        <label style="padding-left:15px; padding-top: 15px">Reviews : </label>
        @{
            if (Model.Reviews.Count() > 0)
            {
                <ul class="list-group">
                    @foreach (var r in Model.Reviews)
                    {
                        <li class="list-group-item">
                            <div class="row" style="padding-left:15px; padding-right: 30px; padding-bottom: 10px">
                                <div class="col-lg-9 ">
                                    <span class="pull-left"> @r.Description</span>
                                </div>
                                <div class="col-lg-3">
                                    <span class="pull-right"><strong>@r.Recommendation, @r.WrittenByName</strong></span>
                                </div>


                            </div>
                        </li>

                    }
                </ul>
            }
            else
            {
                <h3><strong>No reviews</strong></h3>
            }
        }

    </div>

</body>
</html>
